<%- include('partials/header') %>
<link rel="stylesheet" href="css/profile.css">
<link rel="stylesheet" href="css/profile/profile_edit.css">
<link rel="stylesheet" href="/css/searchbar.css">
<link rel="stylesheet" href="/css/sidebar.css">
</head>

<body>

  <%- include('partials/sidebar') %>

  <div class="main-content">

    <%- include('partials/searchbar') %>

    <div id="content" class="site-content region region--9-3-cols-left region--container-fluid region--3-6-3-cols-left" tabindex="-1">
      <div class="region__container">
        <div class="region__row">

          <div id="primary" class="content-area region__col">
            <main id="main" class="site-main">


              <article id="post-0" class="bp_members type-bp_members post-0 page type-page status-publish hentry pmpro-no-access">
                <div class="grimlock--page-content entry-content clearfix">

                  <div id="buddypress" class="  ">


                    <div id="item-header" role="complementary">

                      <div id="header-cover-image" class="element-animated fade-in" style="opacity: 1;"></div>
                      <a href="#" class="cover-btn-edit d-none d-md-inline-block">
                        Edit Cover Image </a>

                      <div id="profile-header" class="profile-header profile-header--member">

                        <div id="profile-header-content">

                          <div class="container container--medium h-100">

                            <div class="row align-items-start align-items-lg-end h-100 pos-r">

                              <div class="profile-header__avatar col-auto">

                                <div class="pos-r d-inline-block">

                                  <span class="member-badge-state is-online bg-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Online"></span>

                                  <a href="#" class="avatar-overlay-edit avatar-wrapper">
                                    <img loading="lazy" src="images/profile_image.png" class="avatar user-33-avatar avatar-450 photo" width="450" height="450"
                                      alt="Profile picture of _"> </a>


                                  <div class="quick-settings-actions d-flex justify-content-center align-items-center d-md-none">
                                    <div class="card card-static ov-v">
                                      <div class="row m-0">
                                        <div class="col p-0">
                                          <a class="d-block px-3 py-2 text-center item--notifications" href="#" title="Notifications">
                                          </a>
                                        </div>
                                        <div class="col p-0">
                                          <a class="d-block px-3 py-2 text-center item--messages" href="#" title="Messages">
                                          </a>
                                        </div>
                                        <div class="col p-0">
                                          <a class="d-block px-3 py-2 text-center item--settings" href="#" title="Settings"></a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                </div> <!-- .pos-r -->

                              </div> <!-- .profile-header__avatar -->

                              <div class="profile-header__body col-12 col-md pt-4 pt-md-0">

                                <div class="row align-items-lg-end">


                                  <div class="col-12 col-lg align-items-end profile-header__featured-media-col order-10 order-md-1 p-0 m-0 mx-md-2">
                                    <div class="rtmedia-activity-container profile-header__featured-media">

                                      <ul class="rtmedia-list row flex-lg-column justify-content-center justify-content-md-start">
                                        <li class="rtmedia-list-item col col-sm-2 col-md-2 col-lg-12" id="498">
                                          <div class="rtmedia-media p-2 p-lg-0" id="rtmedia-media-498">
                                            <a href="#" title="header-2">
                                              <img src="https://intranet-dark.cera-theme.com/wp-content/uploads/sites/7/rtMedia/users/33/2021/02/header-2-150x150.jpg?1612785116" alt="header-2">
                                            </a>
                                          </div> <!-- .rtmedia-media -->
                                        </li> <!-- .rtmedia-list-item-->
                                      </ul> <!-- .rtmedia-list-->


                                    </div> <!-- .rtmedia-activity-container-->
                                  </div> <!-- .col -->


                                  <div class="col-12 col-lg order-2">

                                    <div class="item-sumary">

                                      <h2 class="user-nicename"><span class="user-nicename-at">@</span>demo</h2>
                                      <div class="item-summary__meta">
                                        <div class="bp-member-xprofile-custom-fields">
                                          <div class="bp-member-xprofile-custom-field bp-member-Birthdate">21</div>
                                          <div class="bp-member-xprofile-custom-field bp-member-Position">Managing director</div>
                                        </div> <!-- .bp-member-xprofile-custom-fields -->
                                      </div> <!-- .item-summary__meta -->

                                    </div> <!-- .item-summary -->

                                    <div class="pmpro_bp_show_level_on_bp_profile">
                                      <strong>Membership Level: Standard </strong>
                                    </div>

                                    <div class="profile-header__before-meta mt-3"></div> <!-- .profile-header__before-meta -->

                                    <div class="item-activity">

                                      <span class="activity">21 minutes ago</span>

                                      <div id="latest-update">
                                        Nice! <a href="#" rel="nofollow ugc">View</a> </div> <!-- #latest-update -->

                                    </div> <!-- .item-activity -->


                                  </div> <!-- .col -->

                                </div> <!-- .align-items-end -->

                              </div> <!-- .profile-header__body -->


                            </div> <!-- .row -->

                          </div> <!-- .container -->

                        </div> <!-- #profile-header-content -->

                      </div> <!-- #profile-header -->

                    </div> <!-- #item-header -->

                    <div class="profile-content">

                      <div id="profile-content__nav" class="item-list-tabs no-ajax" aria-label="Member primary navigation" role="navigation">
                        <div class="container container--medium">
                          <div class="row">
                            <div class="profile-content__nav-wrapper col-12 priority-nav" instance="0">
                              <ul class="main-nav priority-ul clearfix d-none d-md-inline-block">
                                <li id="activity-personal-li"><a id="user-activity" href="#">Activity</a></li>
                                <li id="xprofile-personal-li" class="current selected"><a id="user-xprofile" href="#">Profile</a></li>
                                <li id="docs-personal-li"><a id="user-docs" href="#">Docs</a></li>
                                <li id="media-personal-li"><a id="user-media" href="#">Media <span>1</span></a></li>
                              </ul>
                              <span class="nav__dropdown-wrapper priority-nav__wrapper" aria-haspopup="false"><button aria-controls="menu" type="button" class="nav__dropdown-toggle priority-nav__dropdown-toggle priority-nav-is-hidden"><i
                                    class="fa fa-ellipsis-v"></i></button>
                                <ul aria-hidden="true" class="nav__dropdown priority-nav__dropdown"></ul>
                              </span> <!-- .main-nav -->
                              <ul class="main-nav settings-nav d-none d-md-inline-block">
                                <li id="notifications-personal-li"><a id="user-notifications" href="https://intranet-dark.cera-theme.com/members/demo/notifications/">Notifications <span class="count">0</span></a></li>
                                <li id="bp_better_messages_tab-personal-li"><a id="user-bp_better_messages_tab" href="https://intranet-dark.cera-theme.com/members/demo/bp-messages/"> <span
                                      class="no-count bp-better-messages-unread">0</span></a></li>
                                <li id="settings-personal-li"><a id="user-settings" href="https://intranet-dark.cera-theme.com/members/demo/settings/"></a></li>
                              </ul> <!-- .main-nav -->
                            </div> <!-- .profile-content__nav-wrapper -->
                          </div>
                        </div> <!-- .container -->
                      </div> <!-- #profile-content__nav -->

                      <div id="item-body" class="profile-content__body">

                        <div class="container container--medium">

                          <div class="row">

                            <div class="col-md-12 col-lg-8 col-xl-9">

                              <div id="template-notices" role="alert" aria-atomic="true">
                                <input type="hidden" id="rtmedia_activity_privacy_nonce" name="rtmedia_activity_privacy_nonce" value="9b4858431e"><input type="hidden" name="_wp_http_referer" value="/members/demo/profile/"> </div>

                              <div id="subnav" aria-label="Member secondary navigation" role="navigation" class="d-flex flex-column flex-lg-row mb-4 mt-0">
                                <div class="item-list-tabs primary-list-tabs no-ajax">
                                  <ul class="item-list-tabs-ul clearfix">
                                    <li id="public-personal-li" class="current selected"><a id="public" href="#">View</a></li>
                                    <li id="edit-personal-li"><a id="edit" href="#">Edit</a></li>
                                    <li id="change-avatar-personal-li"><a id="change-avatar" href="#">Change Profile Photo</a></li>
                                    <li id="change-cover-image-personal-li"><a id="change-cover-image" href="#">Change Cover Image</a></li>
                                  </ul>
                                </div>
                              </div>


                              <%- include('profile/profile_edit') %>

                              <!-- <input type="hidden" id="rtmedia_activity_privacy_nonce" name="rtmedia_activity_privacy_nonce" value="9b4858431e"><input type="hidden" name="_wp_http_referer" value="/members/demo/profile/">
                              <div class="social-articles-main" role="main">
                                <div id="articles-dir-list" class="articles dir-list">
                                </div>
                              </div>
                              <script>
                                jQuery(function() {
                                  jQuery('#articles span').html('0');
                                  jQuery('#draft span').html('0');
                                  jQuery('#under-review span').html('0');
                                  jQuery('#wp-admin-bar-article-list-item a span.count').html('0');
                                  jQuery('.sa-global-counter').html('0');
                                });
                              </script> -->
                            </div>


                            <!-- <aside id="secondary-right" class="widget-area sidebar sidebar--buddypress col-md-12 col-lg-4 col-xl-3">
                              <section id="bp_core_whos_online_widget-5" class="widget widget_bp_core_whos_online_widget buddypress widget">
                                <h2 class="widget-title">Who’s Online</h2>

                                <div class="avatar-block">


                                  <div class="item-avatar">
                                    <a href="https://intranet-dark.cera-theme.com/members/demo/" class="bp-tooltip" data-bp-tooltip="Fevzi Nevzat"><img loading="lazy"
                                        src="https://intranet-dark.cera-theme.com/wp-content/uploads/avatars/33/6018946a35b43-bpthumb.png" class="avatar user-33-avatar avatar-300 photo" width="300" height="300"
                                        alt="Profile picture of Fevzi Nevzat"></a>
                                  </div>


                                </div>


                              </section>
                              <section id="bp_core_friends_widget-3" class="widget widget_bp_core_friends_widget buddypress widget">
                                <h2 class="widget-title">Fevzi Nevzat’s Friends</h2>

                                <div class="widget-error">
                                  Sorry, no members were found. </div>


                              </section>
                              <section id="bp_groups_widget-2" class="widget widget_bp_groups_widget buddypress widget">
                                <h2 class="widget-title">Groups</h2>
                                <div class="item-options" id="groups-list-options">
                                  <a href="https://intranet-dark.cera-theme.com/groups/" id="newest-groups">Newest</a>
                                  <span class="bp-separator" role="separator">|</span>
                                  <a href="https://intranet-dark.cera-theme.com/groups/" id="recently-acti-groups" class="selected">acti</a>
                                  <span class="bp-separator" role="separator">|</span>
                                  <a href="https://intranet-dark.cera-theme.com/groups/" id="popular-groups">Popular</a>
                                  <span class="bp-separator" role="separator">|</span>
                                  <a href="https://intranet-dark.cera-theme.com/groups/" id="alphabetical-groups">Alphabetical</a>
                                </div>

                                <ul id="groups-list" class="item-list" aria-live="polite" aria-relevant="all" aria-atomic="true">
                                  <li class="odd public is-admin is-member group-has-avatar">
                                    <div class="item-avatar">
                                      <a href="https://intranet-dark.cera-theme.com/groups/pure-business/" class="bp-tooltip" data-bp-tooltip="Pure Business"><img loading="lazy"
                                          src="https://intranet-dark.cera-theme.com/wp-content/uploads/group-avatars/1/1-bpthumb.jpg" class="avatar group-1-avatar avatar-300 photo" width="300" height="300" alt="Group logo of Pure Business"></a>
                                    </div>

                                    <div class="item">
                                      <div class="item-title"><a href="https://intranet-dark.cera-theme.com/groups/pure-business/" class="bp-group-home-link pure-business-home-link">Pure Business</a></div>
                                      <div class="item-meta">
                                        <span class="activity">
                                          acti 3 hours, 31 minutes ago </span>
                                      </div>
                                    </div>
                                  </li>

                                  <li class="even public is-admin group-has-avatar">
                                    <div class="item-avatar">
                                      <a href="https://intranet-dark.cera-theme.com/groups/analyst-practice/" class="bp-tooltip" data-bp-tooltip="Analyst Practice"><img loading="lazy"
                                          src="https://intranet-dark.cera-theme.com/wp-content/uploads/group-avatars/2/2-bpthumb.jpg" class="avatar group-2-avatar avatar-300 photo" width="300" height="300" alt="Group logo of Analyst Practice"></a>
                                    </div>

                                    <div class="item">
                                      <div class="item-title"><a href="https://intranet-dark.cera-theme.com/groups/analyst-practice/" class="bp-group-home-link analyst-practice-home-link">Analyst Practice</a></div>
                                      <div class="item-meta">
                                        <span class="activity">
                                          acti 4 hours, 36 minutes ago </span>
                                      </div>
                                    </div>
                                  </li>

                                  <li class="odd public is-admin is-member group-has-avatar">
                                    <div class="item-avatar">
                                      <a href="https://intranet-dark.cera-theme.com/groups/wildest-dream/" class="bp-tooltip" data-bp-tooltip="Wildest dream"><img loading="lazy"
                                          src="https://intranet-dark.cera-theme.com/wp-content/themes/cera/assets/images/avatars/user-group.png" class="avatar group-387-avatar avatar-300 photo" width="300" height="300"
                                          alt="Group logo of Wildest dream"></a>
                                    </div>

                                    <div class="item">
                                      <div class="item-title"><a href="https://intranet-dark.cera-theme.com/groups/wildest-dream/" class="bp-group-home-link wildest-dream-home-link">Wildest dream</a></div>
                                      <div class="item-meta">
                                        <span class="activity">
                                          acti 20 hours, 1 minute ago </span>
                                      </div>
                                    </div>
                                  </li>

                                  <li class="even public is-admin group-has-avatar">
                                    <div class="item-avatar">
                                      <a href="https://intranet-dark.cera-theme.com/groups/agile-development/" class="bp-tooltip" data-bp-tooltip="Agile development"><img loading="lazy"
                                          src="https://intranet-dark.cera-theme.com/wp-content/uploads/group-avatars/3/3-bpthumb.jpg" class="avatar group-3-avatar avatar-300 photo" width="300" height="300" alt="Group logo of Agile development"></a>
                                    </div>

                                    <div class="item">
                                      <div class="item-title"><a href="https://intranet-dark.cera-theme.com/groups/agile-development/" class="bp-group-home-link agile-development-home-link">Agile development</a></div>
                                      <div class="item-meta">
                                        <span class="activity">
                                          acti 20 hours, 40 minutes ago </span>
                                      </div>
                                    </div>
                                  </li>

                                  <li class="odd private is-admin is-member group-has-avatar">
                                    <div class="item-avatar">
                                      <a href="https://intranet-dark.cera-theme.com/groups/test/" class="bp-tooltip" data-bp-tooltip="TEST"><img loading="lazy"
                                          src="https://intranet-dark.cera-theme.com/wp-content/themes/cera/assets/images/avatars/user-group.png" class="avatar group-386-avatar avatar-300 photo" width="300" height="300" alt="Group logo of TEST"></a>
                                    </div>

                                    <div class="item">
                                      <div class="item-title"><a href="https://intranet-dark.cera-theme.com/groups/test/" class="bp-group-home-link test-home-link">TEST</a></div>
                                      <div class="item-meta">
                                        <span class="activity">
                                          acti 23 hours, 24 minutes ago </span>
                                      </div>
                                    </div>
                                  </li>

                                </ul>
                                <input type="hidden" id="_wpnonce-groups" name="_wpnonce-groups" value="77f39efcd2"><input type="hidden" name="_wp_http_referer" value="/members/demo/profile/"> <input type="hidden" name="groups_widget_max"
                                  id="groups_widget_max" value="5">


                              </section>
                              <section id="bp_core_members_widget-5" class="widget widget_bp_core_members_widget buddypress widget">
                                <h2 class="widget-title">Members</h2>

                                <div class="item-options" id="members-list-options">
                                  <a href="https://intranet-dark.cera-theme.com/members/" id="newest-members">Newest</a>
                                  <span class="bp-separator" role="separator">|</span>
                                  <a href="https://intranet-dark.cera-theme.com/members/" id="recently-acti-members" class="selected">acti</a>

                                  <span class="bp-separator" role="separator">|</span>
                                  <a href="https://intranet-dark.cera-theme.com/members/" id="popular-members">Popular</a>


                                </div>

                                <ul id="members-list" class="item-list" aria-live="polite" aria-relevant="all" aria-atomic="true">


                                  <li class="vcard">
                                    <div class="item-avatar">
                                      <a href="https://intranet-dark.cera-theme.com/members/demo/" class="bp-tooltip" data-bp-tooltip="Fevzi Nevzat"><img loading="lazy"
                                          src="https://intranet-dark.cera-theme.com/wp-content/uploads/avatars/33/6018946a35b43-bpthumb.png" class="avatar user-33-avatar avatar-300 photo" width="300" height="300"
                                          alt="Profile picture of Fevzi Nevzat"></a>
                                    </div>

                                    <div class="item">
                                      <div class="item-title fn"><a href="https://intranet-dark.cera-theme.com/members/demo/">Fevzi Nevzat</a></div>
                                      <div class="item-meta">
                                        <span class="activity">21 minutes ago</span>
                                      </div>
                                    </div>
                                  </li>


                                  <li class="vcard">
                                    <div class="item-avatar">
                                      <a href="https://intranet-dark.cera-theme.com/members/themosaurus/" class="bp-tooltip" data-bp-tooltip="themosaurus"><img loading="lazy"
                                          src="https://intranet-dark.cera-theme.com/wp-content/uploads/avatars/3/3-bpthumb.jpg" class="avatar user-3-avatar avatar-300 photo" width="300" height="300" alt="Profile picture of themosaurus"></a>
                                    </div>

                                    <div class="item">
                                      <div class="item-title fn"><a href="https://intranet-dark.cera-theme.com/members/themosaurus/">themosaurus</a></div>
                                      <div class="item-meta">
                                        <span class="activity">an hour ago</span>
                                      </div>
                                    </div>
                                  </li>


                                  <li class="vcard">
                                    <div class="item-avatar">
                                      <a href="https://intranet-dark.cera-theme.com/members/vernon/" class="bp-tooltip" data-bp-tooltip="Vernon Dahmer"><img loading="lazy"
                                          src="https://intranet-dark.cera-theme.com/wp-content/uploads/avatars/25/25-bpthumb.jpg" class="avatar user-25-avatar avatar-300 photo" width="300" height="300" alt="Profile picture of Vernon Dahmer"></a>
                                    </div>

                                    <div class="item">
                                      <div class="item-title fn"><a href="https://intranet-dark.cera-theme.com/members/vernon/">Vernon Dahmer</a></div>
                                      <div class="item-meta">
                                        <span class="activity">6 months ago</span>
                                      </div>
                                    </div>
                                  </li>


                                  <li class="vcard">
                                    <div class="item-avatar">
                                      <a href="https://intranet-dark.cera-theme.com/members/wynonn/" class="bp-tooltip" data-bp-tooltip="Wynonn Judd"><img loading="lazy"
                                          src="https://intranet-dark.cera-theme.com/wp-content/uploads/avatars/18/18-bpthumb.jpg" class="avatar user-18-avatar avatar-300 photo" width="300" height="300" alt="Profile picture of Wynonn Judd"></a>
                                    </div>

                                    <div class="item">
                                      <div class="item-title fn"><a href="https://intranet-dark.cera-theme.com/members/wynonn/">Wynonn Judd</a></div>
                                      <div class="item-meta">
                                        <span class="activity">6 months ago</span>
                                      </div>
                                    </div>
                                  </li>


                                  <li class="vcard">
                                    <div class="item-avatar">
                                      <a href="https://intranet-dark.cera-theme.com/members/taba/" class="bp-tooltip" data-bp-tooltip="Taba Carew"><img loading="lazy"
                                          src="https://intranet-dark.cera-theme.com/wp-content/uploads/avatars/20/20-bpthumb.jpg" class="avatar user-20-avatar avatar-300 photo" width="300" height="300" alt="Profile picture of Taba Carew"></a>
                                    </div>

                                    <div class="item">
                                      <div class="item-title fn"><a href="https://intranet-dark.cera-theme.com/members/taba/">Taba Carew</a></div>
                                      <div class="item-meta">
                                        <span class="activity">6 months ago</span>
                                      </div>
                                    </div>
                                  </li>


                                </ul>

                                <input type="hidden" id="_wpnonce-members" name="_wpnonce-members" value="0e4b55e26c">
                                <input type="hidden" name="members_widget_max" id="members_widget_max" value="5">


                              </section>
                              <section id="bp_core_recently_acti_widget-3" class="widget widget_bp_core_recently_acti_widget buddypress widget">
                                <h2 class="widget-title">Recently acti Members</h2>

                                <div class="avatar-block">


                                  <div class="item-avatar">
                                    <a href="https://intranet-dark.cera-theme.com/members/demo/" class="bp-tooltip" data-bp-tooltip="Fevzi Nevzat"><img loading="lazy"
                                        src="https://intranet-dark.cera-theme.com/wp-content/uploads/avatars/33/6018946a35b43-bpthumb.png" class="avatar user-33-avatar avatar-300 photo" width="300" height="300"
                                        alt="Profile picture of Fevzi Nevzat"></a>
                                  </div>


                                  <div class="item-avatar">
                                    <a href="https://intranet-dark.cera-theme.com/members/themosaurus/" class="bp-tooltip" data-bp-tooltip="themosaurus"><img loading="lazy"
                                        src="https://intranet-dark.cera-theme.com/wp-content/uploads/avatars/3/3-bpthumb.jpg" class="avatar user-3-avatar avatar-300 photo" width="300" height="300" alt="Profile picture of themosaurus"></a>
                                  </div>


                                  <div class="item-avatar">
                                    <a href="https://intranet-dark.cera-theme.com/members/vernon/" class="bp-tooltip" data-bp-tooltip="Vernon Dahmer"><img loading="lazy"
                                        src="https://intranet-dark.cera-theme.com/wp-content/uploads/avatars/25/25-bpthumb.jpg" class="avatar user-25-avatar avatar-300 photo" width="300" height="300" alt="Profile picture of Vernon Dahmer"></a>
                                  </div>


                                  <div class="item-avatar">
                                    <a href="https://intranet-dark.cera-theme.com/members/wynonn/" class="bp-tooltip" data-bp-tooltip="Wynonn Judd"><img loading="lazy"
                                        src="https://intranet-dark.cera-theme.com/wp-content/uploads/avatars/18/18-bpthumb.jpg" class="avatar user-18-avatar avatar-300 photo" width="300" height="300" alt="Profile picture of Wynonn Judd"></a>
                                  </div>


                                  <div class="item-avatar">
                                    <a href="https://intranet-dark.cera-theme.com/members/taba/" class="bp-tooltip" data-bp-tooltip="Taba Carew"><img loading="lazy"
                                        src="https://intranet-dark.cera-theme.com/wp-content/uploads/avatars/20/20-bpthumb.jpg" class="avatar user-20-avatar avatar-300 photo" width="300" height="300" alt="Profile picture of Taba Carew"></a>
                                  </div>


                                  <div class="item-avatar">
                                    <a href="https://intranet-dark.cera-theme.com/members/stephania/" class="bp-tooltip" data-bp-tooltip="Stephania Milovic"><img loading="lazy"
                                        src="https://intranet-dark.cera-theme.com/wp-content/uploads/avatars/17/17-bpthumb.jpg" class="avatar user-17-avatar avatar-300 photo" width="300" height="300" alt="Profile picture of Stephania Milovic"></a>
                                  </div>


                                  <div class="item-avatar">
                                    <a href="https://intranet-dark.cera-theme.com/members/siobhan/" class="bp-tooltip" data-bp-tooltip="Siobhan Millavic"><img loading="lazy"
                                        src="https://intranet-dark.cera-theme.com/wp-content/uploads/avatars/16/16-bpthumb.jpg" class="avatar user-16-avatar avatar-300 photo" width="300" height="300" alt="Profile picture of Siobhan Millavic"></a>
                                  </div>


                                  <div class="item-avatar">
                                    <a href="https://intranet-dark.cera-theme.com/members/shen/" class="bp-tooltip" data-bp-tooltip="Shen Foster"><img loading="lazy"
                                        src="https://intranet-dark.cera-theme.com/wp-content/uploads/avatars/15/15-bpthumb.jpg" class="avatar user-15-avatar avatar-300 photo" width="300" height="300" alt="Profile picture of Shen Foster"></a>
                                  </div>


                                </div>


                              </section>
                            </aside> -->

                          </div> <!-- .row -->

                        </div> <!-- .container -->

                      </div> <!-- #item-body -->

                    </div> <!-- .profile-content -->


                  </div> <!-- #buddypress -->
                </div><!-- .entry-content -->
                <footer class="grimlock--page-footer entry-footer">
                </footer><!-- .entry-footer -->
              </article><!-- #post-## -->

            </main><!-- #main -->
          </div><!-- #primary -->


        </div><!-- .region__row -->
      </div><!-- .region__container -->
    </div>

    <%- include('partials/footer') %>
